.headerBar {
  height: 5.6rem;
  background: var(--bc-black-color) url("/img/headerBar_bg.png");
}

.navMenu {
  display: inline-block;
  position: relative;
  z-index: var(--bc-menuButton);
  box-sizing: border-box;
  width: 2.4rem;
  height: 2rem;
  margin: 1.6rem;
  transition: all 0.2s;
  cursor: pointer;
}

.navMenuIsActive {
  position: fixed;
}

.line {
  display: inline-block;
  position: absolute;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  height: 0.2rem;
  transition: all 0.2s;
  border-radius: 0.4rem;
  background-color: var(--bc-white-color);

  &:nth-of-type(1) {
    top: 0;
  }

  &:nth-of-type(2) {
    top: 0.9rem;
  }

  &:nth-of-type(3) {
    bottom: 0;
  }
}

.isActive {
  &:nth-of-type(1),
  &:nth-of-type(3) {
    width: 1.2rem;
  }

  &:nth-of-type(1) {
    transform: translate(-0.1rem, 0.5rem) rotate(-45deg);
  }

  &:nth-of-type(3) {
    transform: translate(-0.1rem, -0.5rem) rotate(45deg);
  }
}
