@import "@/styles/common";

.sideNav {
  $width: size(40, px);

  position: absolute;
  top: 0;
  left: -$width;
  z-index: 6000;
  width: $width;
  height: 100vh;
  padding: size(7, px) size(2, px) size(3, px);
  background-color: color(black);
  color: color(white, smoke);
  transition: all 0.1s ease;

  &.is-active {
    left: 0;
  }
}
