@mixin ol {
  display: table;
  padding-left: 0;
  counter-reset: li;
  list-style: none;
  line-height: 1.8;

  & > li {
    display: table-row;
    counter-increment: li;

    &::before {
      display: table-cell;
      padding-right: 0.4em;
      text-align: right;
      content: counter(li) ".";
    }
  }
}
