.linkArea {
  margin-top: 1em;
}

.linkList {
  margin-left: 0.3rem;
  padding-left: 1em;
  line-height: 2;
  text-indent: -1em;
}

.linkItem {
  font-size: 1.6rem;
}

.goTopPage {
  text-align: center;
}
