/* ----------------------------------------------------------------------------
インライン
---------------------------------------------------------------------------- */
// $FONT_BASIC: Roboto, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic ProW3";
$FONT_BASIC: "Helvetica Neue", "Arial", "Hiragino Kaku Gothic ProN", "Hiragino Sans", "Meiryo", sans-serif;
$FONT_SANS_SERIF: sans-serif;
$FONT_SERIF: serif;
$FONT_YUGO: "游ゴシック体", "YuGothic", "游ゴシック Medium", "Yu Gothic Medium";
$FONT_YUMIN: "游明朝体", "Yu Mincho", "YuMincho", "Hiragino Mincho ProN", "Noto Serif SC";
$BASE_LINE_HEIGHT: 1.6;
$LINE_HEIGHT_DECREASE_SS: 1.2;
$LINE_HEIGHT_DECREASE_S: 1.4;
$LINE_HEIGHT_INCREASE_L: 1.8;
$LINE_HEIGHT_INCREASE_LL: 2;
$LETTER_SPACING_BASE: 0.1em;
$LETTER_SPACING_NARROWEST: 0.02em;
$LETTER_SPACING_NARROWER: 0.04em;
$LETTER_SPACING_NARROW: 0.08em;
$LETTER_SPACING_WIDE: 0.12em;
$LETTER_SPACING_WIDER: 0.16em;
$LETTER_SPACING_WIDEST: 0.2em;

/* font */
$font: $FONT_YUGO, $FONT_SANS_SERIF;
$fontHeading: $FONT_YUMIN, $FONT_SERIF;
$fontYumin: $FONT_YUMIN, $FONT_SERIF;

/* line height */
$baseLineHeight: $BASE_LINE_HEIGHT;
$LineHeightSS: $LINE_HEIGHT_DECREASE_SS;
$LineHeightS: $LINE_HEIGHT_DECREASE_S;
$LineHeightL: $LINE_HEIGHT_INCREASE_L;
$LineHeightLL: $LINE_HEIGHT_INCREASE_LL;

/* letter spacing */
$letterSpacingBase: $LETTER_SPACING_BASE;
$letterSpacingNarrower: $LETTER_SPACING_NARROWER;
$letterSpacingNarrow: $LETTER_SPACING_NARROW;
$letterSpacingWide: $LETTER_SPACING_WIDE;
$letterSpacingWider: $LETTER_SPACING_WIDER;
$letterSpacingWidest: $LETTER_SPACING_WIDEST;

@mixin fontBaseNormal {
  font-family: $font;
  font-weight: normal;
  font-style: normal;
}

@mixin fontBaseBold {
  font-family: $font;
  font-weight: 700;
  font-style: normal;
}

@mixin fontBaseNormalItalic {
  font-family: $font;
  font-weight: normal;
  font-style: italic;
}

@mixin fontBaseBoldItalic {
  font-family: $font;
  font-weight: 600;
  font-style: italic;
}

@mixin fontHeadingNormal {
  font-family: $fontHeading;
  font-weight: normal;
  font-style: normal;
}

@mixin fontHeading {
  font-family: $fontHeading;
  font-weight: 700;
  font-style: normal;
}
