@mixin headingCommon {
  font-weight: bold;
  text-align: justify;
}

@mixin heading1 {
  @include headingCommon;

  font-size: 24px;
  line-height: 1.45;
}

@mixin heading2 {
  @include headingCommon;

  font-size: 24px;
  line-height: 1.45;
}

@mixin heading3 {
  @include headingCommon;

  font-size: 22px;
  line-height: 1.6;
}

@mixin heading4 {
  @include headingCommon;

  font-size: 20px;
  line-height: 1.6;
}
