:root {
  // Brand
  --bc-site-color: #5d2369;
  --bc-link-color: #0c12a9;
  --bc-icon-default-color: #4B4B4B;

  // Variation
  --bc-white-color: #fff;
  --bc-white-smoke-color: #f6f6f6;
  --bc-white-smoke-light: #fafafa;
  --bc-black-color: #000;
  --bc-gray-darkest-color: #222;
  --bc-gray-darker-color: #4c4c4c;
  --bc-gray-dark-color: #666;
  --bc-gray-main-color: #ccc;
  --bc-gray-light-color: #ddd;
  --bc-gray-lighter-color: #e5e5e5;
  --bc-gray-lightest-color: #f1f1f1;

  // Form
  --bc-error-color: #df3232;
  --bc-warning-color: #fc6;
  --bc-success-color: #52cc52;

  // Other brand
  --bc-twitter-color: #00aced;
  --bc-facebook-color: #3b5998;
  --bc-hatena-color: #009ad9;
}
