.share__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;

  & li {
    flex-grow: 1;
    border-radius: 2;
    color: #fff;

    &:hover {
      opacity: 0.9;
    }

    &:not(:last-child) {
      margin-right: 0.8rem;
    }
  }

  & button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0.8rem 0 !important;
    border-radius: 2;
    line-height: 1;
  }
}

.share__item--twitter {
  background-color: var(--bc-twitter-color);
}

.share__item--facebook {
  background-color: var(--bc-facebook-color);
}

.share__item--hatena {
  background-color: var(--bc-hatena-color);
}

.share-text {
  padding-right: 1rem;
}
