$colors: (
  white: (
    main: #fff,
    smoke: #f6f6f6,
    smokeLight: #fafafa
  ),
  black: (
    main: #000
  ),
  gray: (
    darkest: #222,
    darker: #4c4c4c,
    dark: #808080,
    main: #ccc,
    light: #ddd,
    lighter: #e5e5e5,
    lightest: #f1f1f1
  ),
  main: (
    main: #5d2369,
    dark: #5d2369,
    light: #5d2369
  ),
  accent: (
    main: #5d2369,
    dark: #5d2369,
    light: #5d2369
  ),
  link: (
    main: #0c12a9
  ),
  error: (
    main: #df3232
  ),
  warning: (
    main: #fc6
  ),
  success: (
    main: #52cc52
  )
);

@function color($key, $tone: main) {
  @return map-get(map-get($colors, $key), $tone);
}
