@import "@/styles/common";

.articleList {
  margin: 0;
  padding: 0;
  list-style: none;
}

.item {
  padding-top: size(3, px);
  padding-bottom: size(1, px);
  border-bottom: 1px solid color(gray, lighter);
}

.title {
  font-size: size(3, px);
  text-decoration: none;
  color: color(link);

  // &:hover {
  //   text-decoration: underline;
  // }
}
