.header-title {
  max-height: 16rem;
  padding: 2.5% 1.6rem;
  background: var(--bc-site-color) url("/img/headerTitle_bg.png");
  background-blend-mode: darken;
  color: var(--bc-white-color);
  text-align: center;
}

.site-logo {
  margin: 0.8rem;
}

.site-logo__image {
  width: 70%;
  max-width: 22.4rem;
}

.description {
  margin-right: auto;
  margin-left: auto;
  font-size: clamp(1.4rem, 2.398vw, 1.6rem);

  @media screen and (width <= 43.3rem) {
    width: 18em;
  }
}
