@import "styles/mixin/typography.module";

.articleList {
  margin: 0;
  padding: 0;
  list-style: none;

  & li {
    display: grid;
    grid-template:
      "title image" auto
      "data data" auto /
      1fr 28%;
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
    border-bottom: 0.1rem solid var(--bc-gray-lighter-color);
    letter-spacing: 0;

    @media screen and (width >= 66.7rem) {
      display: grid;
      grid-template:
      "title image" auto
       "data image" auto /
        1fr 14.4rem;
    }
  }
}

.title {
  display: -webkit-box;
  grid-area: title;
  overflow: hidden;
  line-height: 1.5;

  --webkit-line-clamp: 3;
  --webkit-box-orient: vertical;

  & a {
    @include fontHeading;

    @media screen and (width <= 76.8rem) {
      display: inline-block;
    }
  }
}

.titleLink {
  font-size: 1.4rem;
  text-decoration: none;

  @media screen and (width >= 76.8rem) {
    font-size: 2rem;
  }
}

.data {
  display: flex;
  grid-area: data;
  align-self: end;

  & a {
    text-decoration: none;
  }
}

.date {
  margin-right: 0.8rem;
}

.category {
  margin-right: 0.8rem;
}

.image {
  grid-area: image;
  justify-self: end;
  margin-left: 0.8rem;
}
