.footer-area {
  padding: 3.2rem 1.6rem;
  background: url("/img/footerArea_bg.png");
}

.footer-profile {
  display: grid;
  grid-template:
    "title title" minmax(1em, auto)
    "icon text" 1fr/
    4.8rem 1fr;
  max-width: 56rem;
  margin-right: auto;
  margin-left: auto;
  font-size: 1.4rem;
  gap: 1.8rem;
}

.profile-title {
  grid-area: title;
  line-height: 1;
}

.profile-icon {
  grid-area: icon;
  text-align: center;
}

.profile-name {
  margin-top: 0.4rem;
}

.profile-text {
  grid-area: text;
  line-height: 1.65;
}

.profile-detail-link {
  margin-top: 1em;
  text-align: right;
}
