*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  // font-family: $font;
  font-size: size(2, px);
  // line-height: $baseLineHeight;
  color: color(gray, 900);
  // letter-spacing: $letterSpacingBase;
  font-variant-numeric: lining-nums;
  font-feature-settings: "palt", "lnum";
}

a {
  &:hover {
    text-decoration: none;
  }
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}
