@use "./vars/colors.module" as *;
@use "./vars/fonts.module" as *;
@use "./vars/zindex.module" as *;

html,
body {
  min-height: 100vh;
}

html {
  font-size: 62.5%;
}

body {
  color: var(--bc-gray-darker-color);
  font-family: var(--bc-font-family-base);
  font-size: 1.6rem;
  letter-spacing: 0.1em;
  line-height: 1.6;
  text-align: justify;
  font-variant-numeric: lining-nums;
  font-feature-settings: "palt", "lnum";
}

a {
  padding-bottom: 0.1rem;
  transition: all 0.2s ease;
  border-bottom: 0.1rem none transparent;
  color: var(--bc-link-color);
  text-decoration: none;

  &:hover:not(:has(img)) {
    border-bottom-style: solid;
    border-bottom-color: inherit;
  }
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}
